<!--<form #form="ngForm">-->
  <!--<rating #rating-->
    <!--[ratingLength]="5"-->
    <!--[starSize]="45"-->
    <!--name="rating"-->
    <!--[(ngModel)]="ratingModel"-->
  <!--&gt;-->
  <!--</rating>-->
<!--</form>-->

<!--<pre>{{ form.value | json }}</pre>-->
<!--<pre>{{ rating | json }}</pre>-->


  <mdl-layout mdl-layout-header-seamed>
    <mdl-layout-header>
      <mdl-layout-header-row>
        <mdl-layout-title>Angular2-ngrx OMDB app</mdl-layout-title>
        <mdl-layout-spacer></mdl-layout-spacer>
        <nav class="mdl-navigation">
          <a routerLink="/movie-list" class="mdl-navigation__link">Home</a>
        </nav>
      </mdl-layout-header-row>
    </mdl-layout-header>
    <mdl-layout-content>
      <router-outlet></router-outlet>
    </mdl-layout-content>
  </mdl-layout>



