/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

body
{
    margin: 0;
    background-color: rgba(207,216,220,0.56);
}

*
{
    box-sizing: border-box;
}