.wrapper
{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0 15px 0;
}

.film-list
{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;

  .film
  {
    width: 25%;
    padding: 10px;
    display: flex;
  }

  .film-inner-wrapper
  {
    flex: 1;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
  }
}

.load-more-wrapper
{
  text-align: center;
}

.poster-wrapper
{
  height: 150px;
  background-position: center 35%;
  background-repeat: no-repeat;
  background-color: #373737;
}

.film-details-link
{
  display: block;
  height: 100%;
  line-height: 150px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  transition: background-color 0.5s ease-out,
              color 0.5s ease-out;

  &:hover
  {
    background-color: rgba(248, 247, 216, 0.6);
    color: #000;
  }
}